#window-anchors {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 1.0em;
}

#list-anchor, #tree-view-anchor, #properties-anchor {
	padding: 0.5em;
	position: absolute;
}

#list-anchor {
	top: 10px;
	right: 10px;
	width: 375px;
    height: 300px;
}

#tree-view-anchor { 
	top: 30px;
	right: 30px;
    width: 375px;
    height: 300px;
}

#properties-anchor {
	top: 50px;
	right: 50px;
    width: 375px;
    height: 400px;
}

.toolbar {
    padding: 10px 4px;
}

#select-image {
    padding-right: 4px;
    width: 100px;
}

.anchor {
    position: absolute;
    top: 0.0em;
    left: 0.0em;
}

.selected-label {
    color: #FF0000 !important;
}

.my-textfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: text;
}

#label-type-select .ui-selecting { background: #FECA40; }
#label-type-select .ui-selected { background: #F39814; color: white }
#label-type-select { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#label-type-select li { margin: 3px; padding: 0.4em; }

#size-x { width: 50px; }
#size-y { width: 50px; }

#full-image {
  border: 2px solid black;
}
