
<link rel="stylesheet" href="libs/jquery/css/ui-lightness/jquery-ui-1.8.21.custom.css">        
<link rel="stylesheet" href="libs/jqtree/jqtree.css">
<link rel="stylesheet" href="css/edit.css">
            
<script src="libs/jquery/js/jquery-1.7.2.min.js"></script>
<script src="libs/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>
<script src="libs/jquery/js/jquery.ui.widget.js"></script>

<script src="libs/jquery/js/jquery.json-2.3.min.js"></script>
<script src="libs/jqtree/tree.jquery.js"></script>
<script src="libs/base64/jquery.base64.min.js"></script>
