
<script src="js/edit.js"></script>

<div id="label-anchor-containor"> </div>
<div id="popup-anchor"> </div> 

<div>
    <img id="full-image"/>
</div>

<div id="window-anchors">
	
	<div id="list-anchor" class="draggable ui-widget-content focus">
		<div class="ui-widget-header focus">Documents</div>
		<div class="toolbar">
			<div id="add-document-button">Add</div>
			<div id="delete-document-button">Delete</div>
		</div>
		<div id="list-content"> </div>
	</div>
	
    <div id="tree-view-anchor" class="draggable ui-widget-content focus" hidden>
        <div class="ui-widget-header focus">Tree View</div>
        <div class="toolbar">
            <div id="add-label-button">Add</div>
            <div id="delete-label-button">Del</div>
            <div id="save-button">Save</div>
        </div>
        <div id="tree-content"> </div>
    </div>

    <div id="properties-anchor" class="draggable ui-widget-content focus" hidden>
        <div class="ui-widget-header focus">Properties</div>
        <div class="toolbar">
            <div id="content-html">Edit content</div>
            <div id="img-button">Select image</div>
            <p>Name <input id="label-name" type="text" /></p>
            
            <ol id="label-type-select">
                <li class="ui-widget-content ui-corner-all my-textfield">question</li>
                <li class="ui-widget-content ui-corner-all my-textfield ui-selected">transition</li>
            </ol>
            
            <p>Size <input id="size-x" type="text"/><input id="size-y" type="text"/></p>
            

            <p>Show ratio <input id="show-ratio" type="text"/></p>
            </p>
            
            <p id="image-name"> </p>
        </div>
    </div>
</div>
