<script src="js/login.js"> </script>

<div id="login">
	<form method="post" action="">
		<p>User <input name="username" type="text"/></p>
		<p>Pass <input name="password" type="text"/></p>
		<input type="submit" value="Go"/>
	</form>
</div>
